* {
    box-sizing: border-box;
}

body {
    background: rgb(230, 215, 202);
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info {
    background: rgb(241, 236, 236);
    width: 600px;
    height: 400px;
    display: flex;
    border-radius: 10px;
}

.box-left {
    width: 300px;
    height: 400px;
}

.box-left img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.box-right {
    padding: 30px;
    font-size: 14px;
}

.box__right-product-type {
    margin-bottom: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%)

}
.box__right-product-name{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
}

.box__right-product-description{
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.3rem;
    color: hsl(228, 12%, 48%)
}

.prices{
    
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.price1{
    margin-right: 35px;
    color:hsl(158, 36%, 37%);
    font-size: 30px;
    font-family: 'Fraunces', sans-serif;
}

.price2{
text-decoration: line-through;
font-family: 'Montserrat', sans-serif;
color: hsl(228, 12%, 48%)
}

.btn1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: hsl(158, 36%, 37%);
    color: whitesmoke;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1{
    margin-top: 5px;
    margin-right: 10px; 
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 375px) {

    body {
        background: rgb(230, 215, 202);
        padding: 0;
        margin: 0;
        height: 100vh;
    }
    .product-info {
        margin: px 15px;
        background: rgb(241, 236, 236);
        width: 600px;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
        .box-left img {
            width: 100%;
            height: 270px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }

        .box-left {
            width: 100%;
            height: auto;
        }
    }
